:root {
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
}

html {
  font-size: 62.5%; /*1 rem = 10px*/
}
body {
  font-size: 1, 8rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  color: var(--veryDarkBlue) !important;
}

h1 {
  font-size: 3.8rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}
h2 {
  font-size: 3.2rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}

.cardt {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.sizeAccordion {
  width: 50%;
  margin-left: 25%;
}
.sizetitle {
  width: 40%;
  margin-left: 30%;
}

.borde {
  border: 1px solid red;
}

.veryDarkBlue {
  color: var(--veryDarkBlue) !important;
}
.grayishBlue {
  color: var(--grayishBlue) !important;
}

.bg-footer {
  background-color: var(--veryDarkBlue);
}

.bg-danger {
  background-color: var(--softRed) !important;
}
.bg-primary {
  background-color: var(--softBlue) !important;
}

.verydarkblue {
  color: var(--veryDarkBlue) !important;
}

.cuadrado {
  background-color: var(--softBlue) !important;
  border-radius: 115rem;
  width: 80rem;
  height: 30rem;
  position: absolute;
  right: 4rem;
  z-index: 0;
}

.relativeq {
  top: 1;
  z-index: 1;
}
